<section
  class="align-items-center justify-content-center parking-form-section"
>
  <form
    class="p-3 mt-3 auth-form bg-light"
    action="/register"
    target=""
    method="POST"
    name="register"
  >
    <h4 class="text-center">Register a Car</h4>

    <div class="mb-3">
      <input
        type="text"
        placeholder="Driver's Name"
        class="form-control"
        id="driverId"
        name="drivername"
        aria-describedby="emailHelp"
      />
      <label class="text-danger form-text dn-error"></label>
    </div>

    <div class="mb-3">
      <input
        type="tel"
        placeholder="Phone Number"
        class="form-control"
        id="phonenumber"
        name="telephone"
      />
      <label class="text-danger form-text tel-error"></label>
    </div>

    <div class="mb-3">
      <select
        class="form-select"
        name="cartype"
        aria-label="Default select example"
        onchange="selectChanger()"
      >
        <option selected value="default">Select car type</option>
        <option value="truck">Truck</option>
        <option value="personalCar">Personal Car</option>
        <option value="taxi">Taxi</option>
        <option value="coaster">Coaster</option>
        <option value="bodaboda">Boda boda</option>
      </select>
      <label class="text-danger form-text cartype-error"></label>
    </div>

    <div class="mb-3 driverNin" style="display: none">
      <input
        type="text"
        placeholder="NIN"
        class="form-control"
        id="drivernin"
        name="drivernin"
      />
      <label class="text-danger form-text nin-error"></label>
    </div>

    <div class="mb-3">
      <input
        type="text"
        placeholder="Number plate"
        class="form-control"
        id="numberplate"
        name="numberplate"
      />
      <label class="text-danger form-text plate-error"></label>
    </div>

    <div class="mb-3">
      <input
        type="text"
        placeholder="Car Model"
        class="form-control"
        id="carmodel"
        name="carmodel"
        aria-describedby="help"
      />
      <label class="text-danger form-text model-error"></label>
    </div>

    <div class="mb-3">
      <input
        type="text"
        placeholder="color"
        name="color"
        class="form-control"
        id="color"
        aria-describedby="help"
      />
      <label class="text-danger form-text color-error"></label>
    </div>

    <div class="mb-1 d-flex align-items-center">
      <label for="arrivaltime" class="form-label me-4">Time of Arrival</label>
      <input
        type="time"
        placeholder="Time of arrival"
        name="arrivaltime"
        class="form-control w-50"
        id="arrivaltime"
      />
    </div>
    <label class="text-danger mb-3 form-text time-error"></label>

    <div class="mb-1 d-flex align-items-center">
      <label for="arrivaldate" class="form-label me-4">Date of Arrival</label>
      <input
        type="date"
        placeholder="Date of arrival"
        name="arrivaldate"
        class="form-control w-50"
        id="arrivaldate"
      />
    </div>
    <label class="text-danger mb-3 form-text date-error"></label>

    <h6>Choice of parking</h6>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="parkingoption"
        value=""
        id="day"
      />
      <label class="form-check-label" for="day"> Day </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="parkingoption"
        value=""
        id="night"
      />
      <label class="form-check-label" for="night"> Night </label>
    </div>
    <div class="form-check mb-1">
      <input
        class="form-check-input"
        type="radio"
        name="parkingoption"
        value=""
        id="lessthanthree"
      />
      <label class="form-check-label" for="lessthanthree">
        Less than 3 hours
      </label>
    </div>
    <label class="text-danger form-text mb-3 radio-error"></label>

    <div class="mb-3">
      <input
        type="text"
        placeholder="0"
        class="form-control"
        id="parkingCost"
        name="totalcost"
        aria-describedby="help"
        value="0"
        readonly
        disabled
      />
    </div>

    <button
      type="submit"
      class="btn button-primary w-100"
      onclick="validateRegister(event)"
    >
      Save
    </button>
    <button type="button" class="btn button-danger w-100 my-3" onclick="popup('parking-form-section', false)">Cancel</button>
  </form>
</section>