
    <section class="home-section d-flex">

			<%- include('./partials/sidebar.ejs')%>

      <main
        class="w-100 dashboard-main d-flex align-items-center flex-column justify-content-center container overflow-hidden"
      >
        <div class="title-div text-center mb-5 text-secondary">
          <h1 class="welcome-heading">Welcome to Parkville</h1>
          <small class="text-dark">Please select a department</small>
        </div>

        <div class="d-flex w-100 p-3">
          <a href="/parkings" class="w-100">
            <div
              class="card text-white dept-div dept-card-div-1"
              style="height: 40vh"
            >
              <div
                class="card-img-overlay d-flex align-items-end justify-content-center"
              >
                <h5 class="card-title">Parking Department</h5>
              </div>
            </div>
          </a>

          <a href="#" class="mx-4 w-100">
            <div
              class="card text-white dept-div dept-card-div-2"
              style="height: 40vh"
            >
              <div
                class="card-img-overlay d-flex align-items-end justify-content-center"
              >
                <h5 class="card-title">Tyre Clinic</h5>
              </div>
            </div>
          </a>

          <a href="#" class="w-100">
            <div
              class="card text-white dept-div dept-card-div-3"
              style="height: 40vh"
            >
              <div
                class="card-img-overlay d-flex align-items-end justify-content-center"
              >
                <h5 class="card-title">Battery Department</h5>
              </div>
            </div>
          </a>
        </div>
      </main>
    </section>
