.home-section,
.dashboard-main {
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

.home-section {
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/parkbackground2.jpg");
}

.dept-card-div-1 {
	background: url("../images/car_parking.jpg");
}

.dept-card-div-2 {
	background: url("../images/tyres.jpg");
}

.dept-card-div-3 {
	background: url("../images/batteries.png"), linear-gradient(white, white);
}

.home-section,
.dept-card-div-1,
.dept-card-div-2,
.dept-card-div-3 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome-heading {
	font-weight: 300;
}

.dept-div {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.dept-div:hover {
	transform: scale(1.03);
}

.dept-div > div {
	background: linear-gradient(to top, black, transparent);
}

.dept-div > div > h5 {
	font-weight: 100;
}

.parking-table-section {
	min-height: 70vh;
	max-height: 70vh;
}

.parked-cars-div,
.signedoff-cars-div {
	max-height: 30vh;
	overflow: auto;
	position: relative;
	box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.5);
}

.parked-cars-div > div,
.signedoff-cars-div > div {
	overflow: auto;
}