
    <main class="d-flex align-items-center justify-content-center auth-main">
      <div class="d-flex flex-column align-items-center justify-content-center auth-form px-3">

        <img
          class="logo-img"
          src="/images/parkville-logo1.png"
        />

				<% if(messages.error) { %>
					<div class="alert alert-danger alert-dismissible fade show form-flash-alert" role="alert">
						<small><%= messages.error %></small>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				<% } %>

        <form class="border p-3 bg-white w-100" action="/login" target="" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
							name="email"
              aria-describedby="emailHelp"
							required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required/>
          </div>

          <button type="submit" class="btn button-primary w-100">Login</button>
          <p class="mt-3 text-center">
            <a href="#" class="text-primary">Forgot Password?</a>
          </p>
        </form>
      </div>

      <p class="text-center mt-3 already-p">
        Don't have an account?
        <a
          href="/signup"><button type="button" class="btn button-primary btn-sm ms-2">
            Sign Up
          </button></a>
      </p>
    </main>
